
<h1>User Information:</h1>

<section>
  Name: <%= @user.name  %>
  Email: <%= @user.email %>
</section>
<section>
  <h2>Organized Events:</h2>
  <%= render partial: 'shared/events', locals: { section_title: 'Past:', 
                                                events: @user.organized_events.past } %>
  <%= render partial: 'shared/events', locals: { section_title: 'Upcoming:', 
                                                events: @user.organized_events.upcoming } %>
</section>
<section>
  <h2>Attending Events:</h2>
  <%= render partial: 'shared/events', locals: { section_title: 'Past:', 
                                                events: @user.attended_events.past } %>
  <%= render partial: 'shared/events', locals: { section_title: 'Upcoming:', 
                                                events: @user.attended_events.upcoming } %>
</section>
