
<h1>Event Information:</h1>

<section>
  Event: <%= @event.name  %><br>
  Place: <%= @event.place %><br>
  Date: <%= @event.date %><br>
  Organized by: <%= @event.organizer.name %>
</section>
<section>
  <h3>Attendees:</h3>
  <ul>
    <% @event.attendees.each do |a| %>
      <li><%= a.name %></li>
    <% end %>
  </ul>

</section>
