<header>
  <nav class="nav">
  <% if logged_in? %>
    Logged in as: <%= current_user.name %>
    <%= link_to 'Profile', current_user, class: 'nav-link' %>
    <%= link_to 'New Event', new_event_path, class: 'nav-link' %>
    <%= link_to 'All Events', events_path, class: 'nav-link' %>
    <%= link_to 'Log Out', logout_path, class: 'nav-link' %>
  <% else %>
    <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
    <%= link_to 'Log in', login_path, class: 'nav-link' %>
  <% end %>
  </nav>
</header>
